/* seletor universal para retirar margin*/
* {
  margin: 0;
}
/* animação para os ícones das redes sociais */
@keyframes socialUl {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: transalateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: transalateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: transalateY(-10px);
    transform: translateY(-10px);
  }
}

/* agrupando html e body, para agrupar dois elementos, use uma vírgula */
html,
body {
  /* aqui temos uma variável, para as cores com grey, usaremos essa variável */
  --grey: hsl(240, 9%, 89%);
  /* para o black, segue a mesma lógica do grey, uma variável */
  --black: hsl(240, 6%, 13%);
  height: 100%;
  font-family: "Roboto", "sans-serif";
  -webkit-font-smoothing: antialiased;
}
/*colocando os itens centralizados ao meio */
body {
  display: grid;
  place-items: center;
}
main {
  background: url(images/background.svg) no-repeat center/cover;
  width: 100vw;
  height: 100vh;
  min-height: 812px;
}
.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}
.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}
.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}
/*pegando a img do 1 nível */
.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  /* criando um poligono*/
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
h1 {
  font-size: 1.5rem;
  color: var(--grey);
  margin-top: 1.5rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--grey);
  text-decoration: none;
  margin-top: 0.25rem;
}
#linkGithub:hover {
  color: #3127a8;
}
p {
  margin-top: 2rem;
}
ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  /* deixando os ícones das redes sociais inline e centralizados*/
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

@media (min-width: 960px) {
  /*versão para desktop */
  html,
  body {
    background-color: black;
  }
  main {
    background: url(images/Desktop.png) no-repeat center;
    height: 100px;
  }
  /*animação do selo RocketSeat */
  .seloRocketSeat:hover {
    transform: rotate(500grad);
    transition: 3s ease;
  }

  /*animação das redes sociais */

  .instagramHover:hover {
    animation: socialUl 1s;
  }

  .linkedinHover:hover {
    animation: socialUl 1s;
  }
}
